<div class="card">
    <div class="card-header">
        Editar Empleado
    </div>
    <div class="card-body">
        <form ngNativeValidate [formGroup]="formularioDeEmpleados" (ngSubmit)="enviarDatos()">
            <div class="mb-3">
                <label for="" class="form-label">Nombre</label>
                <input required formControlName="nombre" type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="Escribe tu nombre">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Correo</label>
                <input required formControlName="correo" type="email" class="form-control" name="" id="" aria-describedby="helpId" placeholder="Escribe tu correo">
            </div>

            <div class="btn-group" role="group" aria-label="">
                <button type="submit" class="btn btn-warning">Modificar Empleado</button>
                <button type="button" class="btn btn-primary" routerLink="/listar-empleado" routerLinkActive="active">Cancelar</button>

            </div>
        </form>
    </div>

</div>